@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');


body {
    /* 画像ファイルの指定 */
 background-image:url("../img/greece.jpg");
 

 /* 画像を常に天地左右の中央に配置 */
 background-position: center center;

 /* 画像をタイル状に繰り返し表示しない */
 background-repeat: no-repeat;

 /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
 background-attachment: fixed;

 /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
 background-size: cover;
  background-color: #f4f7f8;
}

.table-color{
    background:rgba(255,255,255,0.6) ;
    padding-left:30px;
    padding-right:30px;
    font-size:18px;
}

.top-table{
    padding-top:30px;
    margin-bottom:10px;
}


.table {
   border: 2px solid; 
   width: 100%; 
　 table-layout: fixed;
   
}

.table > thead > tr > th{
    border-bottom:2px solid;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td{
    padding: 10px;
    vertical-align: middle;
    border-right:1px solid;
}

thead{
    background:rgba(255,245,204,0.6);
}

